* {
    box-sizing: border-box;
    color: white;
}

body {
    background-image: url("./img/aniversario.jpg");
    background-size: cover;
    background-position: center center;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 0;
    flex-wrap: wrap;
}

h1 {
    font-weight: normal;
    font-size: 4rem;
    margin-top: 10rem;
    display: flex;
    flex-wrap: wrap;
}

.countdown-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.big-text {
    font-weight: bold;
    font-size: 6rem;
    line-height: 1;
    margin: 0 2rem;
}

.countdown-el {
    text-align: center;
}

.countdown-el span {
    font-size: 1.5rem;

}

@media only screen and (max-width: 768px) {
    h1 {
        display: flex;
        align-items: center;
        margin-left: 6rem;
        
    }
}